<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>430700208735-4bntbgv1ienqbd9n9luivqo0ejau612u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430700208735-4bntbgv1ienqbd9n9luivqo0ejau612u</string>
	<key>API_KEY</key>
	<string>AIzaSyCP10CkA3nwwy28AMANltgwbu3Ys8q7K4w</string>
	<key>GCM_SENDER_ID</key>
	<string>430700208735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sebastiancrossa.diversify</string>
	<key>PROJECT_ID</key>
	<string>diversify-dffd1</string>
	<key>STORAGE_BUCKET</key>
	<string>diversify-dffd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430700208735:ios:80752d4df1b7cfc0</string>
	<key>DATABASE_URL</key>
	<string>https://diversify-dffd1.firebaseio.com</string>
</dict>
</plist>